/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    &.active{
        display: block;
    }
    .background{
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
  }
  
  /* Modal Content */
  .modal-content {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #fefefe;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #C8C8C8;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    height: 45px;
    padding: 0px 16px;
    overflow: auto;
  }
  
  .modal-body {
    padding: 0px 16px 36px 16px;
  }
  
  /* Add Animation */
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

.project-modal{
    .modal-body{
        .image{
            height: 450px;
            width: 450px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .content{
            width: 670px;
            padding: 12px 15px;
            .type{
                font-size: 1.1rem;
                font-weight: 400;
                color: #76B2EA;
                margin-block-end: 28px;
                margin-block-start: 0!important;
            }
            .title{
                font-size: 1.8rem;
                margin-block-end: 29px;
            }
            .description{
                font-size: 1rem;
                color: #6D6D6D;
            }
            .slugs{
                margin-block-start: 32px;
                li{
                    background-color: #0094FF;
                    color: #fff;
                    font-size: 15px;
                    border-radius: 10px;
                    height: 36px;
                    padding: 0px 10px;
                    margin-inline-end: 10px;
                    pointer-events: none;
                }
            }
            .links{
                bottom: 12px;
                li{
                    margin-inline-end: 0.3rem;
                    a{
                        color: #6D6D6D;
                        margin-inline-end: 0.8rem;
                        &:hover{
                            opacity: 0.8;
                        }
                        p{
                            font-size: 0.8rem;
                            margin-inline-start: 5px;
                        }
                    }
                }
            }
        }
    }
}